<div>
  <h2 class="scoreCard">Score Card</h2>
  <div id="commentry">
    <div class="commentryCards" *ngFor="let commentry of matchCommentry">
      <div class="cards">
        <mat-card class="mainCard">
          <mat-card-header>
            <mat-card-title
              >{{ commentry.team1 }} VS {{ commentry.team2 }}</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              Score : {{ commentry.team1 }} {{ commentry.score }} /
              {{ commentry.wickets }}
            </p>
          </mat-card-content>

          <mat-card-footer>
            {{ commentry.Date.toDate() }}
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>

  <h2 class="scoreCard">Live Commentary</h2>
  <div class="cards">
    <mat-card class="mainCard" style="background: gra; background: #c7caca">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>live commentry text</p>
      </mat-card-content>

      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </div>
</div>
