<div class="container">
  <h2 class="teamRankingHeading">Teams Ranking</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">ODI</a></li>
    <li><a data-toggle="tab" href="#menu1">Tests</a></li>
    <li><a data-toggle="tab" href="#menu2">T20</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <table class="table table-responsive table-striped odi-ranks">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Points</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #016651; color: #ffffff">
            <td style="padding: 15px 20px">1</td>
            <td style="padding: 15px 20px">New Zealand</td>
            <td style="padding: 15px 20px">2054</td>
            <td style="padding: 15px 20px">121</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Australia</td>
            <td>2945</td>
            <td>118</td>
          </tr>
          <tr>
            <td>3</td>
            <td>India</td>
            <td>3344</td>
            <td>115</td>
          </tr>
          <tr>
            <td>4</td>
            <td>England</td>
            <td>3100</td>
            <td>115</td>
          </tr>
          <tr>
            <td>5</td>
            <td>South Africa</td>
            <td>2137</td>
            <td>107</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Pakistan</td>
            <td>2323</td>
            <td>97</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Bangladesh</td>
            <td>2157</td>
            <td>90</td>
          </tr>
          <tr>
            <td>8</td>
            <td>West Indies</td>
            <td>2222</td>
            <td>82</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Sri Lanka</td>
            <td>1652</td>
            <td>79</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Afghanistan</td>
            <td>1054</td>
            <td>62</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <table class="table table-responsive table-striped test-ranks">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Points</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #016651; color: #ffffff">
            <td style="padding: 15px 20px">1</td>
            <td style="padding: 15px 20px">India</td>
            <td style="padding: 15px 20px">4455</td>
            <td style="padding: 15px 20px">120</td>
          </tr>
          <tr>
            <td>2</td>
            <td>New Zealand</td>
            <td>3198</td>
            <td>118</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Australia</td>
            <td>3498</td>
            <td>113</td>
          </tr>
          <tr>
            <td>4</td>
            <td>England</td>
            <td>5174</td>
            <td>106</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Pakistan</td>
            <td>2328</td>
            <td>90</td>
          </tr>
          <tr>
            <td>6</td>
            <td>South Africa</td>
            <td>2595</td>
            <td>89</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Sri Lanka</td>
            <td>3235</td>
            <td>83</td>
          </tr>
          <tr>
            <td>8</td>
            <td>West Indies</td>
            <td>2501</td>
            <td>81</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Bangladesh</td>
            <td>1169</td>
            <td>51</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Zimbabwe</td>
            <td>315</td>
            <td>29</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="menu2" class="tab-pane fade">
      <table class="table table-responsive table-striped t20-ranks">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Points</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #016651; color: #ffffff">
            <td style="padding: 15px 20px">1</td>
            <td style="padding: 15px 20px">England</td>
            <td style="padding: 15px 20px">6088</td>
            <td style="padding: 15px 20px">277</td>
          </tr>
          <tr>
            <td>2</td>
            <td>India</td>
            <td>6811</td>
            <td>272</td>
          </tr>
          <tr>
            <td>3</td>
            <td>New Zealand</td>
            <td>6048</td>
            <td>263</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Pakistan</td>
            <td>7818</td>
            <td>261</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Australia</td>
            <td>5930</td>
            <td>258</td>
          </tr>
          <tr>
            <td>6</td>
            <td>South Africa</td>
            <td>4703</td>
            <td>248</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Afghanistan</td>
            <td>2826</td>
            <td>236</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Sri Lanka</td>
            <td>2957</td>
            <td>227</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Bangladesh</td>
            <td>2921</td>
            <td>225</td>
          </tr>
          <tr>
            <td>10</td>
            <td>West Indies</td>
            <td>3992</td>
            <td>222</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
