<div class="main">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="text-center mt-5">
            <img src="assets\p6.png" width="400" />
            <p>Create an account</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form">
            <h2 class="signup">Reset Password</h2>
            <form
              class="form"
              [formGroup]="myform"
              (ngSubmit)="resetPassword(myform.value); myform.reset()"
            >
              <div class="inputbox mt-3">
                <span>Email</span>
                <input
                  formControlName="email"
                  class="email"
                  name="email "
                  type="Email "
                  placeholder="abc@gmail.com "
                  ngmodel
                  required
                  class="form-control"
                />

                <br />
                <div class="d-flex justify-content-between align-items-center">
                  <div class="text-right">
                    <button
                      type="submit"
                      [disabled]="myform.invalid"
                      class="btn btn-success register btn-block"
                    >
                      Continue
                    </button>
                  </div>
                  <br />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
