// .navbar {
//   margin-bottom: 0;
//   background-color: #1c9c67;
//   border: 0;
//   font-size: 15px !important;
//   letter-spacing: 4px;
//   border-radius: 0;
//   font-family: Montserrat, sans-serif;
// }
// .navbar li a,
// .navbar .navbar-brand {
//   color: #fff !important;
// }
// .navbar-nav li a:hover,
// .navbar-nav li.active a {
//   color: #189657 !important;
//   background-color: #fff !important;
// }
// .navbar-default .navbar-toggle {
//   border-color: transparent;
//   color: #fff !important;
// }
// .navbar-brand {
//   font-size: 20px;
// }

.nav_links {
  margin-top: 23px;
  font-size: 18px;
}
.navbar-brand {
  font-size: 22px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  height: 92px;
  padding: 15px 45px;
}
